#Part 1: Int

In [ ]:
#define variable
number = 17

#the type() command will tell us what data type the value is
data_type = type(number)

#print the results nicely
print(f"number is equal to {number}. Its Data Type is {data_type}")

#Part 2:  Float

In [ ]:
#including a decimal point tells python that we don't want an int
number = 17.0

data_type = type(number)

print(f"number is equal to {number}. Its Data Type is {data_type}")

#Part 3:  String

In [ ]:
number = '7' #notice the quotes!

data_type = type(number)

print(f"number is equal to {number}. Its Data Type is {data_type}")

#Putting it all together - how Python treats data types differently

In [ ]:
#First, I create three variables, each containing a version of the number 7
number_int = 7
number_float = 7.0
number_string = '7'

#We all know that 7+3 = 10.
#Let's see what happens if we add 3 to each of these.

new_number = number_int + 3

print(f"After I add three to the int type, the result is {new_number}")

new_number = number_float + 3

print(f"After I add three to the int type, the result is {new_number}")

new_number = number_string + 3

print(f"After I add three to the int type, the result is {new_number}")

In [ ]:
#Let's fix that error.
#You CAN add one string to another, but the result will be weird. This called CONCATENATION

number_string = '7'

new_number = number_string + '3' #notice the quotes! 3 is now a string

print(f"After I add 3 in quotes to the string type, the result is {new_number}")

#Part 4:  Booleans

In [ ]:
#A boolean can be one of two values:  True or False
greater = (10 > 7)

greater_type = type(greater)

print(f"The value of greater is {greater}")
print(f"The data type of greater is {greater_type}")

In [ ]:
#As we will see later, Python expressions that can be evaluated as True or False are very useful;
age = 69
if age >=65:
  print(f"Your ticket price is $10.50")
else:
  print(f"Your ticket price is $12.50")

In [ ]:
Year = 2103
if (Year%100 == 0 and Year%400 == 0) or (Year%100 !=0 and Year%4 == 0):
  print(f"{Year} is a Leap Year!")
else:
  print (f"{Year} is NOT a Leap Year!")

# Part 5: Arrays (known as lists in Python)

In [ ]:
sleep_hrs = [9,9,8,7,8,8,7,7,6,5,10,8,9,5,7,9,9,8,9,10,6,8,9,8,8,8]

In [ ]:
birth_day = ["Tuesday","Wednesday","Saturday","Wednesday","Tuesday","Tuesday","Saturday","Sunday","Friday","Monday","Thursday","Monday","Thursday","Wednesday","Saturday","Thursday","Saturday","Saturday","Saturday","Tuesday","Sunday","Thursday","Saturday","Sunday","Tuesday","Saturday"]

In [ ]:
print(f"sleep_hrs is a Python list and has Python datatype {type(sleep_hrs)}")
print(f"birth_day is a Python list and has Python datatype {type(birth_day)}")

In [ ]:
#And we can make calculations on the list as a whole:
sleep_sum = sum(sleep_hrs)
sleep_count = len(sleep_hrs)
print(f"The total number of hours of sleep for the {sleep_count} students in this class is {sleep_sum}.")
print(f"The average number of hours of sleep is {sleep_sum/sleep_count} hours.")

In [ ]:
print(sorted(sleep_hrs))
print(sorted(birth_day))